<ng-container *ngIf="(selectedCut$ | async) as selected">

    <div class="container">
        <div class="spacer"></div>
        <div class="type flex">
            <div>Type: </div>
            <button [class.selected]="selected.type === 'absolute'">Absolute</button>
            <button [class.selected]="selected.type === 'relative'">Relative</button>
        </div>
        <ng-container *ngIf="selected.type === 'absolute'">
            <div class="coords flex">
                <span>Pos: </span>
                <div class="input-box">
                    <span>X</span>
                    <input type="number" id="posX" name="posX" min="0" max="9999" [value]="selected.absolute.x"
                        (change)="inputChange($event, 'posX', selected)" (input)="input($event,'posX', selected)">
                </div>
                <div class="input-box">
                    <span>Y</span>
                    <input type="number" id="posY" name="posY" min="0" max="9999" [value]="selected.absolute.y"
                        (change)="inputChange($event, 'posY', selected)" (input)="input($event,'posY', selected)">
                </div>
            </div>
            <div class="size flex">
                <span>Size: </span>
                <div class="input-box">
                    <span>W</span>
                    <input type="number" id="sizeX" name="sizeX" min="1" max="9999" [value]="selected.absolute.width"
                        (change)="inputChange($event, 'sizeX', selected)" (input)="input($event,'sizeX', selected)">
                </div>
                <div class="input-box">
                    <span>H</span>
                    <input type="number" id="sizeY" name="sizeY" min="1" max="9999" [value]="selected.absolute.height"
                        (change)="inputChange($event, 'sizeY', selected)" (input)="input($event,'sizeY', selected)">
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="selected.type === 'relative'">
            <div class="coords flex">
                <div>Posss: </div>
            </div>
            <div class="size flex">
                <div>Sizess: </div>
            </div>
        </ng-container>

        <div class="buttons"></div>
    </div>
</ng-container>