<ng-container *ngIf="(selectedCut$ | async) as selected">

    <div class="container">
        <div class="spacer"></div>
        <div class="type flex">
            <div>Type: </div>
            <button [class.selected]="selected.type === 'absolute'">Absolute</button>
            <button [class.selected]="selected.type === 'relative'">Relative</button>
        </div>
        <ng-container *ngIf="selected.type === 'absolute'">
            <div class="coords flex">
                <div>Pos: </div>
                <input type="number">
                <input type="number">
            </div>
            <div class="size flex">
                <div>Size: </div>
                <input type="number">
                <input type="number">
            </div>
        </ng-container>

        <ng-container *ngIf="selected.type === 'relative'">
            <div class="coords flex">
                <div>Posss: </div>
            </div>
            <div class="size flex">
                <div>Sizess: </div>
            </div>
        </ng-container>

        <div class="buttons"></div>
    </div>
</ng-container>