.container {
    width: 100%;
    max-height: 32px;
}

.menu {
    padding: 0, 10px;
}

.logo {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    margin: auto;
    margin-left: 10px;
}