<ng-container *ngIf="(active$ |async) as active">
    <ng-container [ngSwitch]="active.meta.tool">
        <ng-container *ngSwitchCase="'select'">
            <app-toolbar-select [active]="active"></app-toolbar-select>
        </ng-container>
        <ng-container *ngSwitchCase="'marquee'">marquee</ng-container>
        <ng-container *ngSwitchCase="'move'">
            <app-toolbar-cuts [active]="active"></app-toolbar-cuts>
        </ng-container>
        <ng-container *ngSwitchCase="'cut'">cut</ng-container>
    </ng-container>
</ng-container>