.container {
    height: 48px;
    display: grid;

    grid-template-columns: repeat(6, max-content);
    gap: 4px;
}

.flex {
    display: flex;
    align-items: center;
}

.spacer {
    width: calc(48px + 32px);
    width: 48px;
}

.border {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

// name

.name {
    height: 48px;
}

.name-box {
    box-sizing: border-box;
    height: 26px;
    width: 128px;

    background-color: var(--background-header);
    color: rgba(255, 255, 255, 0.5);

    text-align: right;
    vertical-align: middle;

    margin-left: 4px;
    margin-right: 4px;
}

.name-box>input {
    width: 96px;

    padding: 1px 6px 1px 6px;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
}


.pencil {
    height: 16px;
    width: 16px;

    margin-left: 4px;
    // margin-right: 4px;

    // opacity: 0;
}

.hide {
    opacity: 0;
}

// type buttons

.type {
    line-height: 32px;
}

.type>div {
    margin-left: 4px;
    margin-right: 4px;
}

.type>button {
    box-sizing: border-box;

    width: 64px;
    height: 26px;
    background-color: var(--background-header);
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    cursor: pointer;
}

.type>button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.type>button:nth-of-type(1) {
    border-radius: 5px 0 0 5px;
}

.type>button:nth-of-type(2) {
    margin-left: 2px;
    border-radius: 0 5px 5px 0;
}

.type>button.selected {
    background-color: var(--accent);
    color: white;
}

// absolute

.flex>span {
    line-height: 18px;

    margin-left: 4px;
    margin-right: 4px;
}

.input-box {
    box-sizing: border-box;
    height: 26px;

    background-color: var(--background-header);
    color: rgba(255, 255, 255, 0.5);

    margin-left: 4px;
    margin-right: 4px;
}

.input-box>span {
    line-height: 18px;
}

.input-box>input {
    width: 3.25rem;
    //height: 20px;

    margin-left: 2px;
}


input {
    padding: 1px 6px 1px 6px;
    margin: 0;

    color: rgba(255, 255, 255, 0.5);
    text-align: right;

    background: none;
    border: 0;
    border-radius: 0;
}

input:hover {
    color: rgba(255, 255, 255, 0.9)
}

input:focus {
    color: rgba(255, 255, 255, 0.9)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 4px;
}

input:focus {
    outline: none;
}

// buttons

.buttons {
    height: 48px;
    display: flex;
    flex-direction: row;
    //display: grid;
    // grid-template-columns: repeat(5, 32px);

    //justify-content: end;
    gap: 4px;
}

.buttons-spacer {
    cursor: default;
    width: 24px;
}

.btn {
    width: 32px;
    height: 48px;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn>svg {
    margin-left: 6px;
    // margin-top: 14px;
    width: 20px;
    //height: 20px;
    max-height: 48px;
}