.container {
    width: 100%;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, .5);

    position: relative;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.tabs {
    width: 100%;
    max-width: calc(100vW - 48px - 64px - 240px);
    display: grid;
    grid-auto-flow: column;
    //grid-template-columns: repeat(6, minmax(100px, 250px)) 64px;
    grid-auto-columns: minmax(64px, 250px);
}

.tabs-drop {
    width: 64px;
    text-align: center;
    line-height: 32px;
}

app-tabs {
    //flex-shrink: 1;

    border-right: 1px solid rgba(0, 0, 0, .5);

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.adder {
    width: 64px;
    border-right: 1px solid rgba(0, 0, 0, .5);
    text-align: center;
    cursor: pointer;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.adder>svg {
    height: 24px;
    width: auto;
    margin-top: 2px;
}

.adder>svg>g>path {
    fill: rgba(255, 255, 255, 0.5);
}

.adder:hover {
    svg>g>path {
        fill: rgba(255, 255, 255, 0.9);
    }
}

.selected {
    svg>g>path {
        fill: rgba(255, 255, 255, 0.9);
    }

    cursor: default;
    background-color: var(--background-tools);
}


.overflow {
    width: 64px;
    border-left: 1px solid rgba(0, 0, 0, .5);

    text-align: center;
    cursor: pointer;

    height: 30px;
    line-height: 30px;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    position: absolute;

    right: 0;
}

.overflow>svg {
    height: 24px;
    width: auto;
    margin-top: 2px;
}

.overflow>svg>path {
    fill: rgba(255, 255, 255, 0.5);
}

.overflow:hover {
    svg>path {
        fill: rgba(255, 255, 255, 0.9);
    }
}




/* 
@media screen and (max-width: 920px) {
    app-tabs {
        //width: 50px;
    }
} */