.container {
    display: grid;
    //gap: 10px;

    grid-template-areas:
        'navigation'
        'cuts'
        'export'
        'footer';
    grid-template-rows: 232px auto 240px 32px;

    justify-content: stretch;

    height: 100%;

    width: 100%;
    max-width: 240px;
}

.navigation {
    grid-area: navigation;
}

.cuts {
    grid-area: cuts;
}

.export {
    grid-area: export;
}

.footer {
    grid-area: footer;
}