.padding {
    padding: 24px
}

canvas {
    //zoom: 500%;
    image-rendering: pixelated;
}

.konva {
    //padding: 24px
    position: absolute;
    top: calc(32px + 48px + 32px + 24px);
    left: calc(48px + 24px);
}